*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
}

.container_principal{
    background-image: url("./images/all-fruits.jpg");    
    background-position: center;
    background-size: cover;
    width: 50%;

    height: 100vh;
}

.container_fruit{
    display: flex;
    flex-direction: column;    
    width: 50%;
}

.rectangle {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    border: 2px solid;
    background-color: rgb(114, 114, 114);
  }

  p{
    font-size: 30px;
    font-weight: bold;
  }

  .rectangle:hover{
    background-color: rgb(55, 55, 55);
  }

  .bouton{
    width: 150px;
    height: 50px;
    font-size: 30px;
  }


